extends layout

block content
  script(src='/js/isotope.pkgd.min.js')
  script(src='/js/inventory.js')
  link(rel='stylesheet', href='/css/inventory.css')
  div
    if loggedin === true
      div(class = 'inventory-grid')
        if inventory === undefined || inventory.length == 0
          p Inventory is empty. Add some ingredients
        else
          each item in inventory
            div(class='grid-item' data-inv_id='' + item.ingredient_id)
              img(src= item.image_url)
              p(class='measurements')
                span(class='amount')= item.amount
                if item.measurement === 'none'
                  span(class='measurement')
                else
                  span(class='measurement')= item.measurement
              p(class='name')= item.ingredient_name
    else
      p No user logged in
