doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/header.css')
    script(src="https://code.jquery.com/jquery-3.5.1.js")
    script(src="/js/nav.js")
  body
    header
      nav(class = 'navbar')
        div#toggleNav(class='toggle-button')
          span(class = 'bar')
          span(class = 'bar')
          span(class = 'bar')
            
        div(class='logo' onClick='goTo("/home")') EasyFood
        div#js-menu(class='nav_links')
          ul
            li(onClick='goTo("/inventory")') Inventory
            li(onClick='goTo("/recipes")') Recipes
            li(onClick='goTo("/about")') About
            li(onClick='goTo("/contact")') Contact
            if loggedin === true
              li#accountLink(onClick='goTo("/login")') My Account
            else
                li#accountLink(onClick='goTo("/login")') Login / Register

    block content
