@font-face {
  font-family: logoFont;
  src: url('/fonts/Staatliches-Regular.ttf');
}
@font-face {
  font-family: Comfortaa;
  src: url('/fonts/Comfortaa-Medium.ttf');
}

* {
  box-sizing: border-box;
}

html {
  font-family: Comfortaa, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

li, a, button {
  font-family: Comfortaa, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}

body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  align-items: center;
  background-color: #24252A;
  color: #edf0f1;
  padding: 0.625rem 0.3125rem;
}

.logo {
  font-family: logoFont, sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  margin: .5rem;
  margin-left: 2.5rem;
  transition: all 0.3s ease 0s;
}

.logo:hover {
  color: rgba(255, 255, 255, 0.8);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links ul {
  margin: 0;
  padding: 0;
  display: flex;
  link-style: none;
}

.nav_links li {
  display: block;
  cursor: pointer;
  padding: 1rem 1.25rem;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
}

.nav_links li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

.acc {
  order: 2;
}

.toggle-button {
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3.75rem;
  height: 3.25rem;
  padding: 10px 10px 10px 10px;
}

.toggle-button .bar {
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media(max-width: 1000px) {
  nav {
    width: 100%;
  }
  .toggle-button {
    display: flex;
  }

  .logo {
    font-size: 4rem;
    margin: auto;
    text-align: center;
  }

  .nav_links {
    width: 100%;
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav_links ul {
    width: 100%;
    flex-direction: column;
  }

  .nav_links li {
    text-align: center;
    padding: 1rem 0 1rem 0;
  }

  .nav_links.active {
    display: flex;
  }
}

button {
  margin-left: 20px;
  padding: 10px 20px;
  background-color: white;
  border: none;
  //border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
