.main {
	width: 100%;
}
.login-form {
	width: 300px;
	margin: auto;
	margin-top: 10%;
	padding: 30px;
	padding-bottom: 40px;
  font-family: Comfortaa, sans-serif;
	background-color: rgb(225, 225, 225);;
}

.login-form h1 {
	text-align: center;
	color: #4d4d4d;
	font-size: 1rem;
	padding: .5rem 0 .5rem 0;
	margin: 1rem 0rem 0.625rem 0rem;
	border-bottom: 1px solid rgb(140, 140, 140);
}

.login-form h2 {
	cursor: pointer;
	text-align: center;
	color: #4d4d4d;
	font-size: 18px;
	padding: 10px 0 0 0;
}

.login-form #errorMessage {
	color: red;
	font-size: 14px;
}

.login-form input[type="password"],
.login-form input[type="text"] {
	width: 100%;
	padding: 15px;
	border: 1px solid #dddddd;
	margin-bottom: 15px;
	box-sizing:border-box;
  font-family: Comfortaa, sans-serif;
}

.login-form input[type="submit"] {
	width: 100%;
	padding: 15px;
	background-color: #535b63;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
  font-family: Comfortaa, sans-serif;
	font-weight: bold;
	color: #ffffff;
}

@media only screen and (min-width: 769px) {

	.login-form {
		width: 300px;
		margin: 0 auto;
		margin-top: 10%;
		padding: 30px;
		padding-bottom: 40px;
	  font-family: Comfortaa, sans-serif;
		background-color: rgb(225, 225, 225);;
	}

	.login-form h1 {
		text-align: center;
		color: #4d4d4d;
		font-size: 1.5rem;
		padding: 1.25rem 0 1.25rem 0;
		margin: 1rem 0rem 1.625rem 0rem;
		border-bottom: 1px solid rgb(140, 140, 140);
	}

	.login-form h2 {
		cursor: pointer;
		text-align: center;
		color: #4d4d4d;
		font-size: 18px;
		padding: 10px 0 0 0;
	}

	.login-form #errorMessage {
		color: red;
		font-size: 14px;
	}

	.login-form input[type="password"],
	.login-form input[type="text"] {
		width: 100%;
		padding: 15px;
		border: 1px solid #dddddd;
		margin-bottom: 15px;
		box-sizing:border-box;
	  font-family: Comfortaa, sans-serif;
	}

	.login-form input[type="submit"] {
		width: 100%;
		padding: 15px;
		background-color: #535b63;
		border: 0;
		box-sizing: border-box;
		cursor: pointer;
	  font-family: Comfortaa, sans-serif;
		font-weight: bold;
		color: #ffffff;
	}

}
