doctype html
html
  head
    link(rel='stylesheet', href='/css/header.css')
    script(src="https://code.jquery.com/jquery-3.5.1.js")
  body
    header
        div(class='logo')
          |  EasyFood
        nav
          ul(class='nav_links')
            li(href = '#') = Inventory
            li(href = '#') = Recipes
            li(href = '#') = About
            li(href = '#') = Contact
            //li(href = '#') = Account
        button(type = 'button' class='acc' href='#') Login / Register
    
